<div class="container col d-flex justify-content-center">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-header">
      <h3>Add New Task</h3>
    </div>
    <div class="card-body" style="width: 400px;">

      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="row">

          <div class="col">

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Due Date</label>
          <input type="text" class="form-control" id="dueDate" formControlName="dueDate"  bsDatepicker  placeholder="Select Date">
        </div>

        <div class="mb-3">
          <label for="priority" class="form-label">Priority</label>
          <select class="form-control" id="priority" formControlName="priority">
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="assignee" class="form-label">Assingee</label>
         <select class="form-control" id="assignee" formControlName="assigneeId">
            <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
         </select>
        </div>
      

        <div class="col">
          <h3>Add Checklist</h3>
          <hr>
          <div formArrayName="checklists">
            <div class="row" *ngFor="let checkList of MyChecklists.controls; let i = index">
              <div class="" [formGroupName]="i">

                <div class="row align-items-center mb-2">
                  <div class="col">
                    <input type="text" autocomplete="off" class="form-control" id="description" formControlName="name" placeholder="checklist">
                  </div>
                  <div class="col-auto d-flex align-items-center">
                    <input type="checkbox" class="form-check-input me-2"  class="custom-checkbox" formControlName="isDone">
                    <button type="button" class="btn btn-danger" (click)="removeChecklist(i)">X</button>
                  </div>
                </div>

                <!-- <div class="row">
                  <div class="col form-check">
                    <input type="text" autocomplete="off" class="form-control" id="description"formControlName="name">
                  </div>
                  <div class="col">
                    <input type="checkbox" class="form-check-input" formControlName="isDone">
                    <button type="button" class="btn btn-danger" (click)="removeChecklist(i)">X</button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div>
            <button *ngIf="MyChecklists.length < 3" type="button" class="btn btn-success"
            (click)="addChecklist()"><i class="bi bi-plus-square"></i></button>
          </div>
          <div *ngIf="MyChecklists.length >= 3" class="alert alert-warning mt-2">
            You can only have up to 3 checklists.
          </div>
        </div>

        <div class="mb-3 mx-auto">
          <button type="submit" [disabled]="taskForm.invalid"
          class="btn btn-primary me-2">Submit</button>

          <button type="button" (click)="cancel()"
          class="btn btn-secondary">Cancel</button>

        </div>



      </div>
    </div>

      </form>



